<div class="container">
  <h2>Search something!</h2>
  <form [formGroup]="SearchForm">
    Search:
    <input
      type="text"
      class="form-control"
      formControlName="search"
    />Categories: <br />
      <div class="code" formArrayName="categoryfilters">
        <div
          *ngFor="
            let filter of SearchForm.controls.categoryfilters.controls;
            let i = index
          "
        >
          <mat-checkbox type="checkbox" [formControlName]="i" value>{{
            categories[i]
          }}</mat-checkbox>
        </div>
      </div>
  </form>
</div>
